.nav {
    &__list {
        display: flex;
        gap: 30px;
		font-size: 30px;
		letter-spacing: 2px;
		text-transform: capitalize;
    }

	&__title{
		font-size: 50px;
		text-transform: capitalize;
		letter-spacing: 2px;
		margin-bottom: 50px;
		text-decoration: underline;
	}
}