// Fonts
$font-main: 'Raleway-Regular';
$font-main-bold: 'Raleway-Bold';
$font-accent: 'PlayfairDisplay-Bold';
$font-secondary: 'Roboto-Light';



// Colors
$dard-brown: #563727;
$dark: #372C2E;
$white: #FFFFFF;
$accent: #DE9E48;
$brown: #7A431D;



// Media
// $tablet: 959px;

$laptop: 984px;
$tablet: 744px;
$mobile: 464px;
$phone: 320px;